/* 
PALETA DE CORES
--light-green: #88df8eff;
--true-blue: #3066beff;
--orange: #f77f00ff;
--china-pink: #e072a4ff;
--maximum-yellow-red: #fcbf49ff;
*/


body{
    background-color: #fcbf49ff;
}





